nav {
  padding-bottom: 20px;
  padding-top: 20px;
}
.nav-container {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  height: 45px;
  align-items: center;
  box-shadow: -1px 10px 0px -4px rgba(255, 25, 25, 0.75);
  -webkit-box-shadow: -1px 10px 0px -4px rgba(255, 25, 25, 0.75);
  -moz-box-shadow: -1px 10px 0px -4px rgba(255, 25, 25, 0.75);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  justify-content: space-between;
  font-size: 1.2rem;
  list-style: none;
}
